[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
aioslacker = "*"
json-logging = "*"
vibora = "*"
cython = "*"
slackclient = "*"
requests = "*"
kafka-python = "*"
vistir = "*"
kubernetes = "*"
kubernetes-py = "*"
afkak = "*"
aiokafka = "*"

[dev-packages]

[requires]
python_version = "3.6"
